<%- include("./partials/header") %>
 <section class='carousel'>
    <img class='images' src='/img/banner.png' alt='carousel'>
 </section>
 <br><br>
 <!--Cervezas-->
 <h1><strong>Cervezas m치s Populares</strong></h1>
    
<section class="products">
    <% for (let i in Productos) { %>
        <% if(Productos[i].type_name==="Cerveza"){ %>
    <div class="size">
      <a href="/Producto/<%=i%>"><img class="imgs" src='/img/<%=Productos[i].imagen%>' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$ <%=Productos[i].price%></h3>
        <br>
        <p class="name"><%=Productos[i].producto_name%></p>
       </div>
      </article>
    </div>
    <% } %>
    <% } %>
</section>
<br><br>
<!--Bebidas-->
<h1><strong>C칩cteles m치s Populares</strong></h1>
<section class="products">
    <% for (let i in Productos) { %>
        <% if(Productos[i].type_name==="C칩ctel"){ %>
    <div class="size">
      <a href="/Producto/<%=i%>"><img class="imgs2" src='/img/<%=Productos[i].imagen%>' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$ <%=Productos[i].price%></h3>
        <br>
        <p class="name"><%=Productos[i].producto_name%></p>
       </div>
      </article>
    </div>
    <% } %>
    <% } %>
</section>
<br><br>
<%- include("./partials/footer") %>
    