<%- include("./partials/header") %>
 <section class='carousel'>
    <img class='images' src='/img/banner.png' alt='carousel'>
 </section>
 <br><br>
 <!--Cervezas-->
 <h1><strong>Cervezas más Populares</strong></h1>
    
<section class="products">
    <% for (let i = 0; i <= 3; i++) { %>
    <div class="size">
      <a href="/Producto/<%=i%>"><img class="imgs" src='/img/<%=Productos[i].imagen%>' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$ <%=Productos[i].precio%></h3>
        <br>
        <p class="name"><%=Productos[i].nombre%></p>
       </div>
      </article>
    </div>
    <% } %>
</section>
<br><br>
<!--Bebidas-->
<h1><strong>Bebidas más Populares</strong></h1>
<section class="products">
    <% for (let i = 4; i <= 7; i++) { %>
    <div class="size">
      <a href="/Producto/<%=i%>"><img class="imgs2" src='/img/<%=Productos[i].imagen%>' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$ <%=Productos[i].precio%></h3>
        <br>
        <p class="name"><%=Productos[i].nombre%></p>
       </div>
      </article>
    </div>
    <% } %>
</section>
<br><br>
<%- include("./partials/footer") %>
    