<%- include("./partials/header") %>
<br><br>
    <h1><strong><%=Productos.type_name%> <%=Productos.producto_name%></strong></h1>
    <article class="articulo">
        <div class="colum">
            <p><img class="figura" src='/img/<%=Productos.imagen%>'></p>
            <p><% if (Number.isInteger(Productos.rango)==true){ %>
            <% for (j=1; j<=Productos.puntuacion;j++) { %>
            <i class="fas fa-star rate"></i>
                <% } %>
                <% }else{let NuevaPuntuacion=Math.floor(Productos.rango)%>
                    <% for (j=1; j<=NuevaPuntuacion;j++) { %>
            <i class="fas fa-star rate"></i>
            <% } %>
            <i class="fas fa-star-half-alt rate"></i>
            <% } %></p>
        </div>
        <div class="colum-b">
        <p>$ <%=Productos.price%></p>
        <div><button class="boton s">-</button>Cantidad<button class="boton s">+</button></div>
        <p>
        <button class="boton">Agregar al carrito<i class="fas fa-cart-arrow-down"></i></button>
        <a href="/Carrito"><button class="boton">Proceder al pago<i class="fas fa-cart-arrow-down"></i>
        </button></a>
        </p>
        <%if(Usuario!=undefined){%>
        <%if(Usuario.desarrollador!=null){%>
        <p><a href="/editarproducto/<%=Productos.producto_id%>"><button class="boton">Editar</button></a>
        <a href="/borrarproducto/<%=Productos.producto_id%>"><button class="boton">Borrar</button></a></p>
        <%}%>
        <%}%>
        </div>
    </article>  
    <div class="descripcion">
        <h3>Descripción del producto:</h3>
        <br>
        <p><%=Productos.description%></p>
    </div>
<br><br>

<%- include("./partials/footer") %>