<%- include("./partials/header") %>
<br><br>
    <h1><strong><%=Productos[id].categoria%> <%=Productos[id].nombre%></strong></h1>
    <article class="articulo">
        <div class="colum">
            <p><img class="figura" src='/img/<%=Productos[id].imagen%>'></p>
            <p><% if (Number.isInteger(Productos[id].puntuacion)==true){ %>
            <% for (j=1; j<=Productos[id].puntuacion;j++) { %>
            <i class="fas fa-star rate"></i>
                <% } %>
                <% }else{let NuevaPuntuacion=Math.floor(Productos[id].puntuacion)%>
                    <% for (j=1; j<=NuevaPuntuacion;j++) { %>
            <i class="fas fa-star rate"></i>
            <% } %>
            <i class="fas fa-star-half-alt rate"></i>
            <% } %></p>
        </div>
        <div class="colum-b">
        <p>$ <%=Productos[id].precio%></p>
        <div><button class="boton s">-</button>Cantidad<button class="boton s">+</button></div>
        <p>
        <button class="boton">Agregar al carrito<i class="fas fa-cart-arrow-down"></i></button>
        <a href="/Carrito"><button class="boton">Proceder al pago<i class="fas fa-cart-arrow-down"></i>
        </button></a>
        </p>
        
        <p><a href="/editarproducto/<%=id%>"><button class="boton">Editar</button></a>
        <a href="/borrarproducto/<%=id%>"><button class="boton">Borrar</button></a></p>
        </div>
    </article>  
    <div class="descripcion">
        <h3>Descripción del producto:</h3>
        <br>
        <p><%=Productos[id].descripcion%></p>
    </div>
<br><br>
 <h1><strong>Productos que podrian interesarte</strong></h1>
 <section class="products">
    <% for (j=0; j<=4;j++) { %>
        <%let i = Math.floor((Math.random() * Productos.length) + 0); %>
    <div class="size2">
      <a href="/Producto/<%=i%>"><img class="imgs" src='/img/<%=Productos[i].imagen%>' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$ <%=Productos[i].precio%></h3>
        <br>
        <p class="name"><%=Productos[i].nombre%></p>
       </div>
      </article>
    </div>
    <% } %>
</section>
<%- include("./partials/footer") %>