<%- include("./partials/header") %>

    <div class="main-container-registro">
        <form action="/RegistroUsuario" method="POST" enctype="multipart/form-data" multiple>
            <div class="container-register">
                <h1>Bienvenido</h1>
                <h2>Registrate</h2>
                <p>Llena los datos para crear una cuenta:</p>
                <label for="usuario">Nombre de usuario</label>
                <input type="text" name="username" id="username" placeholder="Escribe tu Usuario"  
                value="<%= locals.old ? old.username: null%>" required>
                <%if(locals.errores && errores.username){%>  
                        <p class="errores"><%= errores.username.msg%></p>   
                    <%}%>
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" id="direccion" placeholder="Escribe tu Dirección"  
                value="<%= locals.old ? old.direccion: null%>" required>
                <%if(locals.errores && errores.direccion){%>  
                    <p class="errores"><%= errores.direccion.msg%></p>   
                <%}%>
                <label for="email">Email</label>
                <input type="text" placeholder="Escribe tu Email" name="email" id="email" 
                value="<%= locals.old ? old.email: null%>" required>
                <%if(locals.errores && errores.email){%>  
                    <p class="errores"><%= errores.email.msg%></p>   
                <%}%>
                <label for="password">Password</label>
                <input type="password" placeholder="Escribe tu Password" name="password" id="password" required>
                <%if(locals.errores && errores.password){%>  
                    <p class="errores"><%= errores.password.msg%></p>   
                <%}%>
                <label for="condiciones">Al crear tu cuenta aceptas nuestros <a href="/noexisten">Terminos y condiciones & Privacidad</a></label>
                <input type="checkbox" id="terminos" name="terminos" required>
                <%if(locals.errores && errores.terminos){%>  
                    <p class="errores"><%= errores.terminos.msg%></p>   
                <%}%>
                <br>

                <button class="button1" type="submit" value="Submit">Registrate</button> 
                <button class="button1" type="reset" value="reset">Vaciar formulario</button>
                <br>
                <a href="/MiCuenta">Ya tengo una cuenta con ustedes</a>
            </div> 
        </form>
    </div>

<%- include("./partials/footer") %>